{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <link href={% static "bootstrap/css/bootstrap.css" %} rel="stylesheet" type="text/css" />
<link href={% static "bootstrap/css/bootstrap-theme.css" %} rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1">


 <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/express-favicon.png" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>GetInsurance</title>
           <link rel = "icon" href =  
{% static "img/icon.png" %} 
        type = "image/icon" />

        <!-- Icon css link -->
        <link href={% static 'vendors/material-icon/css/materialdesignicons.min.css' %} rel="stylesheet">
        <link href={% static 'css/font-awesome.min.css' %} rel="stylesheet">
        <link href={% static 'vendors/linears-icon/style.css' %} rel="stylesheet">
        <!-- Bootstrap -->
        <link href={% static 'css/bootstrap.min.css' %} rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href={% static 'vendors/revolution/css/settings.css' %}  rel="stylesheet">
        <link href={% static 'vendors/revolution/css/layers.css' %} rel="stylesheet">
        <link href={% static 'vendors/revolution/css/navigation.css' %} rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href={% static 'vendors/bootstrap-selector/bootstrap-select.css' %} rel="stylesheet">
        <link href={% static 'vendors/bootatrap-date-time/bootstrap-datetimepicker.min.css' %} rel="stylesheet">
        <link href={% static 'vendors/owl-carousel/assets/owl.carousel.css' %} rel="stylesheet">
        
        <link href={% static 'css/style.css' %} rel="stylesheet">
        <link href={% static 'css/responsive.css' %} rel="stylesheet">
<style>
#grad1 {
  height:-webkit-fill-available;
  width: -webkit-fill-available;
  background-color: #2e3292; /* For browsers that do not support gradients */
  background-image:  linear-gradient(#eb6661 7%,#723169 37%,#001854,#1d1d1f 93%); /* Standard syntax (must be last) */
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 35%;
}
.checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    color: white;
}

}
.glyphicon{
  font-size: 30px;
}
.form-control{
  height: 46px;
}
        .main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li:last-child a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 61%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 44px;
    width: 44px;
    background:none;
    border-radius: 50%;
    z-index: -1;
    transition: all 400ms linear 0s;
    border: none;
}



  .button {
  display: inline-block;
  border-radius: 4px;
  color:black;
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 11px;
  width: 175px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 3%;
}
.button:hover{ background-color: transparent;}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;


}

.button:hover span:after {
  opacity: 1;
  right: 0;


}

</style>
</head>
<body style="background-color: whitesmoke;">

 <!--================ Frist hader Area =================-->
        <div class="first_header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="header_contact_details">
                            <a href="#"><i class="fa fa-phone"></i>+1 (168) 314 5016</a>
                            <a href="#"><i class="fa fa-envelope-o"></i>+1 (168) 314 5016</a>
                        </div>
                    </div>
                     <div class="col-md-4">
                     <!--   <div class="event_btn_inner">
                            <a class="event_btn" href="table.html"><i class="fa fa-table" aria-hidden="true"></i>Book a Table</a>
                            <a class="event_btn" href="event.html"><i class="fa fa-calendar" aria-hidden="true"></i>Book an Event</a>
                        </div> -->
                    </div> 
                    <div class="col-md-4">
                        <div class="header_social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================End Footer Area =================-->
        
        <!--================End Footer Area =================-->
        <header class="main_menu_area">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div><a class="navbar-brand active" href="{% url 'home' %}" style="padding: 0px 120px;"><img  src={% static "img/logo-1 (3).png" %} alt=""  style="    height: 100px;position: absolute;top:-13px;"></a></div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_active %}
                         <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li class=""><a href="{% url 'About' %}" >About US</a></li>
                            <li><a href="{% url 'contact' %}">Contact US</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            <br>
                        {% else %}
                               <li><a href="{% url 'createacc' %}" >Create Account</a></li>
                            <li class=""><a href="{% url 'Login' %}" >Login</a></li>
                            <li><a href="{% url 'contact' %}">Contact US</a></li>
                        {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>


        </div> <!--================Slider Area =================-->
                <section class="slider_area">
                    <div class=slider_inner>
                        <div class="rev_slider fullwidthabanner"  data-version="5.3.0.2" id="home-slider">
                            <ul> 
                                <li data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="600" data-rotate="0" data-saveperformance="off">
                                    <!-- MAIN IMAGE -->
                                    <img src={% static 'img/home-slider/insure1.jpg' %}  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 1 -->
                                    <div class="slider_text_box">
                                       <div class="tp-caption bg_box" 
                                            data-width="none"
                                            data-height="none"
                                            data-whitespace="nowrap"
                                            data-x="center" 
                                            data-y="['350','350','300','250','0']"
                                            data-fontsize="['55']" 
                                            data-lineheight="['60']" 
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:0px;" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="2000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                        </div>
                                        <div class="tp-caption first_text" 
                                            data-x="center" 
                                            data-y="center" 
                                            data-voffset="['-20']"
                                            data-Hoffset="['0']"
                                            data-fontsize="['42','42','42','42','25']"
                                            data-lineheight="['52','52','52','52','35']"
                                            data-width="none"
                                            data-height="none"
                                            data-transform_idle="o:1;"
                                            data-whitespace="nowrap"
                                            data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on" 
                                            data-elementdelay="0.05" >Welcome To Our
                                        </div>
                                        <div class="tp-caption secand_text" 
                                            style="margin:10px 20px 10px 20px"
                                            data-x="center" 
                                            data-y="center" 
                                            data-voffset="['45']"
                                            data-Hoffset="['0']"
                                            data-fontsize="['36']"
                                            data-lineheight="['42']"
                                            data-width="none"
                                            data-height="none"
                                            data-transform_idle="o:1;"
                                            data-whitespace="nowrap"
                                            data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on" 
                                            data-elementdelay="0.05" >GetInsurance
                                        </div>
                                        <div class="tp-caption third_text" 
                                            data-x="center" 
                                            data-y="center" 
                                            data-voffset="['100']"
                                            data-Hoffset="['0']"
                                            data-fontsize="['24','24','24','24','16']"
                                            data-lineheight="['34','34','34','34','26']"
                                            data-width="none"
                                            data-height="none"
                                            data-transform_idle="o:1;"
                                            data-whitespace="nowrap"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                            data-start="1200" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on" 
                                            data-elementdelay="0.05" >Better Insurance Starts Here
                                        </div>
                                      
                                    </div>
                                </li>
                                <li data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="600" data-rotate="0" data-saveperformance="off">
                                    <!-- MAIN IMAGE -->
                                    <img src={% static 'img/home-slider/insure2.jpg' %}  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                    <!-- LAYERS -->

                                    <!-- LAYER NR. 1 -->
                                    <div class="slider_text_box text_box2">
                                       <div class="tp-caption bg_box" 
                                            data-width="none"
                                            data-height="none"
                                            data-whitespace="nowrap"
                                            data-x="center" 
                                            data-y="['350','350','300','250']"
                                            data-fontsize="['55']" 
                                            data-lineheight="['60']" 
                                            data-transform_idle="o:1;"
                                            data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:0px;" 
                                            data-mask_out="x:inherit;y:inherit;" 
                                            data-start="2000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on">
                                        </div>
                                        <div class="tp-caption first_text" 
                                            data-x="center" 
                                            data-y="center" 
                                            data-voffset="['-20']"
                                            data-Hoffset="['0']"
                                            data-fontsize="['42','42','42','42','25']"
                                            data-lineheight="['52','52','52','52','35']"
                                            data-width="none"
                                            data-height="none"
                                            data-transform_idle="o:1;"
                                            data-whitespace="nowrap"
                                            data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on" 
                                            data-elementdelay="0.05" >Welcome To Our
                                        </div>
                                        <div class="tp-caption secand_text" 
                                             style="margin:10px 20px 10px 20px"
                                            data-x="center" 
                                            data-y="center" 
                                            data-voffset="['45']"
                                            data-Hoffset="['0']"
                                            data-fontsize="['36']"
                                            data-lineheight="['42']"
                                            data-width="none"
                                            data-height="none"
                                            data-transform_idle="o:1;"
                                            data-whitespace="nowrap"
                                            data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
                                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                            data-start="1000" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on" 
                                            data-elementdelay="0.05" >GetInsurance
                                        </div>
                                        <div class="tp-caption third_text" 
                                            data-x="center" 
                                            data-y="center" 
                                            data-voffset="['100']"
                                            data-Hoffset="['0']"
                                            data-fontsize="['24','24','24','24','16']"
                                            data-lineheight="['34','34','34','34','26']"
                                            data-width="none"
                                            data-height="none"
                                            data-transform_idle="o:1;"
                                            data-whitespace="nowrap"
                                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
                                            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
                                            data-start="1200" 
                                            data-splitin="none" 
                                            data-splitout="none" 
                                            data-responsive_offset="on" 
                                            data-elementdelay="0.05" >Better Insurance Starts Here
                                        </div>
                             
                                        </div>
                                    </div>
                                </li>
                            </ul> 
                        </div><!-- END REVOLUTION SLIDER -->
                    </div>
                </section><br><br>
                <!--================End Slider Area =================-->



                <div class="container">
                    <div class="row">
                    <center><h1>Learn what's right for you.</span></h1><br>
                        <p style="width:80%"><span>No matter where you are in the process—whether you're doing your own research, trying to figure out what's right for you, or just want to talk to someone—there's a path for you.</span></p></center>
                    </div>
                </div>
            



                <section class="service_area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="service_item" style="background-color: white;border: 1px solid #e3efe1a6;">
                                    <img src={% static 'img/service-icon/hand.jpg' %} alt=""  style="border-radius: 70%;height: 130px;">
                                    <h3>Understand the basics</h3>
                                    <p>You can start on the path of achieving your personal and financial goals by beginning with an introductory overview.  Find out more about life insurance and retirement planning.</p>
                                    <a class="read_mor_btn" href="{% url 'learn' %}">Learn More</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="service_item" style="background-color: white;border: 1px solid #e3efe1a6;padding-bottom: 31px;">
                                <img src={% static 'img/service-icon/hand2.jpg' %}  alt="" style="border-radius: 70%;height: 130px;background-color: #112be0;">
                                    <h3>Compare products</h3>
                                    <p>Sometimes the easiest way to learn is by seeing how things stack up. Take a closer look at some of our life insurance choices.</p><br>
                                    {% if request.user.is_active %}
                                    <a class="read_mor_btn" href="{% url 'compare' %}" >Learn More</a>
                                    {% else %}
                            <a class="read_mor_btn" href="{% url 'Login' %}" >Learn More</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="service_item" style="background-color: white;border: 1px solid #e3efe1a6;padding-bottom: 31px;">
                                    <img src={% static 'img/service-icon/hand3.png' %} alt="" style="border-radius: 70%;height: 130px; background-color: #112be0;">
                                    <h3>Connect with a financial professional</h3>
                                    <p>Our financial professionals have a wealth of experience and can clarify any questions you may have.</p>
                                    <a class="read_mor_btn" href="{% url 'haveques' %}">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>





                
                <!--================Booking Table Area =================-->
                <section class="booking_table_area">
                    <div class="container">
                        <div class="s_white_title">
                             <center> <h2 style="color:honeydew;width: 50%">SELECT A PRODUCT TO QUOTE</h2></center>
                        </div>
                  
                </section>
                <!--================End Booking Table Area =================-->
                
                <!--================Our feature Area =================-->


                 <div class="container-fluid" style="height: 400px;">
                    <div class="row">
                        <div class="col-sm-12">
                               <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                  <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
               <li data-target="#myCarousel" data-slide-to="3"></li>
                  <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
                  
                   <!-- Wrapper for slides -->
           <center> <div class="carousel-inner">
              <div class="item active">
                <img src={% static 'img/feature/feature-1.jpg' %} alt="Los Angeles" style="width:100%;" height: 490px;>
                 <div class="carousel-caption">
                  <a class="capt"><h3 class="hh3">Life Insurance <span class="glyphicon glyphicon-search"></span></h3></i></a>
                </div>
              </div>

              <div class="item">
                <img src={% static 'img/feature/feature-2.jpg' %} alt="Chicago" style="width:100%;" height: 490px;>
                  <div class="carousel-caption">
                  <a class="capt"><h3  class=" hh3 ">Car Insurance <span class="glyphicon glyphicon-search"></span></h3></a>
                </div>
              </div>
            
              <div class="item">
                <img src={% static 'img/feature/feature-3.jpg' %} alt="New york" style="width:100%;" height: 490px;>
                  <div class="carousel-caption">
                  <a class="capt"><h3 class="hh3">Bike Insurance <span class="glyphicon glyphicon-search"></span></h3></a>
                </div>
              </div>

               <div class="item">
                <img src={% static 'img/feature/feature-4.jpg' %} alt="New york" style="width:100%;" height: 490px;>
                  <div class="carousel-caption">
                  <a class="capt"><h3 class="hh3">Home Insurance <span class="glyphicon glyphicon-search"></span></h3></a>
                </div>
              </div>

                <div class="item">
                <img src={% static 'img/feature/feature-5.jpg' %} alt="New york" style="width:100%;" height: 490px;>
                  <div class="carousel-caption">
                  <a class="capt"><h3 class="hh3">Electronic Device Insurance <span class="glyphicon glyphicon-search"></span></h3></a>
                </div>
              </div>

            </div> </center>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"  aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
                    </div>
                </div>
           </div><br><br><br><br><br>
          


            <div class="container" style="">
                <div class="row">
                    <div class="col-sm-6" style="align-items: center; padding-top: 0px;">
                        <h1 style="    font-family: "alda-pro-ny-life",Georgia,serif;"><span class="text__xLarge"><br><br>
         </span>Meeting you wherever you are on your life journey.</h1>
         <p style="font-size: larger;">Whether you’re just starting out, juggling family and career, or approaching retirement—you can rely on our experience to help you make the right decisions.&nbsp;</p>
                    </div>

                    <div class="col-sm-6">
                        <img class="img-responsive imim" src={% static 'img/meeting/m1.jpg' %} style="border:6px solid white;">
                    </div>
                </div><br>

                    <div class="row" >
                        <div class="col-sm-4">
                            <img class="img-responsive" src={% static 'img/meeting/m2.jpg' %} style="max-height: 300px;border:6px solid white;"><br>
                            <h3 class="text__medium">Planning for retirement</h3><br>
                            <p style="font-size: larger;">How do you make sure that you’ll have the income you need as you head into retirement? You may want to consider a policy that lets you maintain your lifestyle, helps you save, helps cover some costs for extended periods of care, or provides a stream of income when you retire.</p>
                        </div>

                         <div class="col-sm-4">
                             <img class="img-responsive" src={% static "img/meeting/m3.jpg" %} style="max-height: 300px;border:6px solid white;"><br>
                           <h3 class="text__medium">Getting married</h3><br>
                           <p style="font-size: larger;">When you merge your personal and financial lives, you may be figuring out how to protect each other now and in the future. You can customize a plan that evolves with you.</p>
                        </div>

                         <div class="col-sm-4">
                             <img class="img-responsive" src={% static "img/meeting/m4.jpg" %} style="max-height: 300px;border:6px solid white;"><br>
                            <h3 class="text__medium">Growing your family</h3><br>
                               <p style="font-size: larger;">Now is the time to consider how to protect your family and plan for your financial needs in the years to come. We can help you protect your biggest assets and can also give you access to funds if your family needs them for things like home renovations or college tuition.</p>

                        </div>
                    </div><br><br>
                    
            

            </div>
      




                <!--================End Our feature Area =================-->
               



       <!--================End Recent Blog Area =================-->
        <footer class="footer_area" >
            <div class="footer_widget_area" style="padding-bottom: 19px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" style="padding-top: 10px;"">
                            <aside class="f_widget about_widget">
                                <div class="f_w_title">
                                    <h4>ABOUT GetInsurance</h4>
                                </div>
                                <p class="over1">At the heart of New Indian Life is a commitment to be there for our customers when they need us-whether today or decades into the future. We have delivered on that promise for nearly 4 years by investing wisely, growing a diversified mix of businesses, and remaining true to our mission as a mutual company.</p>
                            
                        </div>
                        <div class="col-md-3" style="">
                            <aside class="f_widget contact_widget">
                                <div class="f_w_title">
                                    <h4 style="padding-top: 10px">CONTACT US</h4>
                                </div>
                                <p>Have questions, comments or just want to say hello:</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-envelope"></i>sharma935211@gmail.com</a></li>
                                    <li><a href="#"><i class="fa fa-phone"></i>+88 01911 854 378</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker"></i>West Way Heights, Narayan Vihar, Jaipur, Rajasthan 302029</li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-md-3" >
                            <aside class="f_widget twitter_widget">
                                <div class="f_w_title">
                                    <h4 style="padding-top: 10px">Twitter Feed</h4>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">@_sumonrahman:</a> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                    </li>
                                    <li>
                                        <a href="#">@_sumonrahman:</a> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                                    </li>
                                </ul>
                            </aside> 
                        </div>

                        <div class="col-md-3" style="padding-top: 10px;"">
                            <aside class="f_widget about_widget">
                               <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul> 
                               
                            
                        </div>
            
                    </div>
                </div>
            </div>
            <div class="copy_right_area">
                <div class="container">
                    <div class="pull-left">
                        <h5><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="#" target="">Ravi</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p></h5>
                    </div>
                    <div class="pull-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="INDEXYZ.html">Home</a></li>
                            <li><a href="#">About Us</a></li>
                               <li class=""><a href="createacc.html" >Create Account</a></li>
                 <li><a href="Login.html" >Login</a></li>
                            <li><a class="active" href="CONTACT,html.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Recent Blog Area =================-->

<div

        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src={% static 'js/jquery-2.1.4.min.js' %}></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src={% static 'js/bootstrap.min.js' %}></script>
        <!-- Rev slider js -->
        <script src={% static 'vendors/revolution/js/jquery.themepunch.tools.min.js' %}></script>
        <script src={% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js' %}></script>
        <script src={% static 'vendors/revolution/js/extensions/revolution.extension.video.min.js' %}></script>
        <script src={% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}></script>
        <script src={% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}></script>
        <script src={% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}></script>
        <script src={% static 'vendors/revolution/js/extensions/revolution.extension.parallax.min.js' %}></script>
        <!-- Extra plugin js -->    
       <script src={% static 'vendors/bootstrap-selector/bootstrap-select.js' %}></script>
       <script src={% static 'vendors/bootatrap-date-time/bootstrap-datetimepicker.min.js' %}></script>
       <script src={% static 'vendors/owl-carousel/owl.carousel.min.js' %}></script>
       <script src={% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}></script>
       <script src={% static 'vendors/isotope/isotope.pkgd.min.js' %}></script>
       <script src={% static 'vendors/countdown/jquery.countdown.js' %}></script>
       <script src={% static 'vendors/js-calender/zabuto_calendar.min.js' %}></script>

        <script src={% static 'js/theme.js' %}></script>
               <script src={% static 'js/bootstrap.min.js' %}></script>

</body>
</html> 